doctype 5
html
	head
		title= title
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700', rel='stylesheet', type='text/css')
		link(href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
		script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js', type='text/javascript')
		script(src='/js/main.js')
		script(src='/js/jquery.validate.min.js')
	body(class = "#{bodyclass}" )
		.savedResponseTextHolder &nbsp;
			.savedResponseText
		#container
			header#masthead
				.inner
					hgroup
						h1 plucki
						h2 #{pollname}
					block navigation
			#main
				.inner
					block content
		
